  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">优信拍数据采集</strong> / <small>车辆搜索</small></div>
    </div>



    <div class="am-g">
      <div class="am-u-sm-16 am-u-md-8">
        <div class="am-form-group">
          <select id='select_car_city' data-am-selected="{btnSize: 'sm'}">
            <option value="">&nbsp;&nbsp;&nbsp;-----所在地-----&nbsp;&nbsp;&nbsp;</option>
            <foreach name="city_option_list" item="option" >
                <option value="{$option.city_id}">{$option.city_name} ({$option.city_car_count}辆)</option>
            </foreach>
          </select>

          <select id='select_resp_code' data-am-selected="{btnSize: 'sm'}">
            <option value="">&nbsp;&nbsp;&nbsp;-----交易状态-----&nbsp;&nbsp;&nbsp;</option>
            <option value="-1">正在报价</option>
            <option value="-15">已成交</option>
            <option value="-3">车辆流拍</option>
          </select>

          <select id='select_master_brand' data-am-selected="{btnSize: 'sm'}">
            <option value="">&nbsp;&nbsp;&nbsp;-----品牌-----&nbsp;&nbsp;&nbsp;</option>
            <foreach name="master_brand_option_list" item="option" >
                <option value="{$option.master_brand_id}">{$option.master_brand_letter}&nbsp;{$option.master_brand_name}</option>
            </foreach>
          </select>

          <select id='select_brand' data-am-selected="{btnSize: 'sm'}">
            <option value="">&nbsp;&nbsp;&nbsp;-----车系-----&nbsp;&nbsp;&nbsp;</option>
          </select>
        </div>
      </div>

      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field" id="keyword_search_tag">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" id="btn_search" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-id">PublishID</th>
                <th class="table-id">CarSourceID</th>
                <th class="table-title">标题</th>
                <th class="table-type">车辆所在地</th>
                <th class="table-type">品牌</th>
                <th class="table-type">车系</th>
                <th class="table-type">车牌号</th>
                <th class="table-type">上牌时间</th>
                <th class="table-type">公里数</th>
                <th class="table-type">代办费</th>
                <th class="table-type">交易费</th>
                <th class="table-type">成交总价</th>
                <th class="table-type">交易状态</th>
                <th class="table-date am-hide-sm-only">更新时间</th>
                <th class="table-date am-hide-sm-only">采集时间</th>
              </tr>
          </thead>
          <tbody id="product_list_box">
            <foreach name="car_list" item="item" >  
              <tr>
                <td><a href="http://i.youxinpai.com/auctionhall/detailforeveryone.aspx?id={$item.publish_id}" target="view_window">{$item.publish_id}</a></td>
                <td>{$item.carsource_id}</td>
                <td>{$item.car_name} ({$item.car_original_color})</td>
                <td>{$item.car_city}</td>
                <td>{$item.master_brand_name}</td>
                <td>{$item.brand_name}</td>
                <td>{$item.license_number}</td>
                <td>{$item.license_date}</td>
                <td>{$item['mileage']/10000||round=###,2} (万公里)</td>
                <td>{$item.buyer_agent_fee}</td>
                <td>{$item.buyer_trade_fee}</td>
                <td>
                  <switch name="item.resp_code">
                      <case value="-15"><span style="color:green;">{$item.total_price}</span></case>
                      <case value="-3"><span style="color:red;">{$item.total_price}</span></case>
                      <default />
                  </switch>
                  
                </td>
                <td>
                    <switch name="item.resp_code">
                        <case value="-15">已成交</case>
                        <case value="-12">等待竞价</case>
                        <case value="-7">竞价结束待处理</case>
                        <case value="-3">车辆流拍</case>
                        <case value="-1">正在报价</case>
                        <default />
                    </switch>
                </td>
                <td>{$item.tradetime}</td>
                <td>{$item.crawlertime}</td>
              </tr>
            </foreach>
          </tbody>
        </table>
          <div class="am-cf">
            共 <span id="product_count_tag">{$row_count}</span> 条记录
            <div class="am-fr">

              <ul data-am-widget="pagination" class="am-pagination am-pagination-default">

                  当前第 <span id="page_num_tag"> {$page_num} </span> 页

                  <li class="am-pagination-first">
                    <a href="#" class="">首 页</a>
                  </li>

                  <li class="am-pagination-prev">
                    <a href="#" class="">上一页</a>
                  </li>

                    <li class="am-pagination-next">
                      <a href="#" class="">下一页</a>
                    </li>

                    <li class="am-pagination-last">
                      <a href="#" class="">末 页</a>
                    </li>
              </ul>
            </div>
        </div>
        </form>
      </div>

    </div>
  </div>
  <!-- content end -->
</div>
  <script type="text/javascript">

    /**
     * 搜索数据列表
     * 
     * @param  json $searchOption 数据搜索条件
     * @return mix
     */
    function getList(searchOption) {
        var fieldCount = 0;
        $("#product_list_box").html('');
        $("#product_count_tag").html('');
        $("#page_num_tag").html('');

        $.ajax({
          url: '__URL__/ajaxProductSearch',
          type: 'get',
          dataType: 'json',
          async : false,
          data: searchOption,
          success: function(data) {
                if (data.code == '000000') {
                    var strProductList = "";
                    $.each(data.data.car_list, function(i, item){
                          fieldCount++;
                          strProductList += "<tr>";
                          strProductList += "<td><a href='http://i.youxinpai.com/auctionhall/detailforeveryone.aspx?id="+item.publish_id+"' target='view_window'>"+item.publish_id+"</a></td>";
                          strProductList += "<td>"+item.carsource_id+"</td>";
                          strProductList += "<td>"+item.car_name+"("+item.car_original_color+")"+"</td>";
                          strProductList += "<td>"+item.car_city+"</td>";
                          strProductList += "<td>"+item.master_brand_name+"</td>";
                          strProductList += "<td>"+item.brand_name+"</td>";
                          strProductList += "<td>"+item.license_number+"</td>";
                          strProductList += "<td>"+item.license_date+"</td>";
                          strProductList += "<td>"+(item.mileage/10000).toFixed(2)+" (万公里)</td>";
                          strProductList += "<td>"+item.buyer_agent_fee+"</td>";
                          strProductList += "<td>"+item.buyer_trade_fee+"</td>";
                          switch(item.resp_code){
                                  case '-15': strProductList += "<td><span style='color:green;'>"+item.total_price+"</span></td>";break;
                                  case '-3': strProductList += "<td><span style='color:red;'>"+item.total_price+"</span></td>";break;
                                  default:strProductList += "<td></td>";break;
                          }

                          switch(item.resp_code){
                                  case '-15': strProductList += "<td>已成交</td>";break;
                                  case '-12': strProductList += "<td>等待竞价</td>";break;
                                  case '-7': strProductList += "<td>竞价结束待处理</td>";break;
                                  case '-3': strProductList += "<td>车辆流拍</td>";break;
                                  case '-1': strProductList += "<td>正在报价</td>";break;
                                  default: strProductList += "<td></td>";break;
                          }

                          strProductList += "<td>{$item.tradetime}</td>";
                          strProductList += "<td>{$item.crawlertime}</td>";
                          strProductList += "</tr>";
                    });

                    $("#product_list_box").html(strProductList);
                    $("#product_count_tag").html(data.data.row_count);
                    $("#page_num_tag").html(data.data.page_num);

                } else {
                    $("#am-alert-tag p").html('code: ' + data.code + ', msg: ' + data.msg);
                    $("#am-alert-tag").show();
                }
          },
          error: function(e) {
                    $("#am-alert-tag p").html('当前ajax请求失败');
                    $("#am-alert-tag").show();
                    $btn.button('reset');
          }
        });
        return fieldCount;
    }

    /**
     * 搜索主品牌下对应车系选项列表
     * 
     * @param  int masterBrandID
     * 
     * @return mix
     */
    function getBrandList(masterBrandID) {

        var strOptionList = '<option value="">&nbsp;&nbsp;&nbsp;-----车系-----&nbsp;&nbsp;&nbsp;</option>';
        $("#select_brand").html(strOptionList);
        var searchOption = 'master_brand_id=' + masterBrandID;
        $.ajax({
          url: '__URL__/ajaxGetBrandOptionList',
          type: 'get',
          dataType: 'json',
          async : true,
          data: searchOption,
          success: function(data) {
                if (data.code == '000000') {
                    $.each(data.data, function(i, item){
                          strOptionList += '<option value="' + item.brand_id + '">' + item.brand_name + '</option>';
                    });
                    $("#select_brand").html(strOptionList);

                } else {
                    $("#am-alert-tag p").html('code: ' + data.code + ', msg: ' + data.msg);
                    $("#am-alert-tag").show();
                }
          },
          error: function(e) {
                    $("#am-alert-tag p").html('当前ajax请求失败');
                    $("#am-alert-tag").show();
                    $btn.button('reset');
          }
        });
    }

    function getSearchOption() {
        var searchOption = '';
        searchOption += "resp_code=" + $('#select_resp_code').val();
        searchOption += "&car_city_id=" + $('#select_car_city').val();
        searchOption += "&master_brand_id=" + $('#select_master_brand').val();
        searchOption += "&brand_id=" + $('#select_brand').val();
        searchOption += "&keyword=" + $('#keyword_search_tag').val();
        return searchOption;
    }


    $(function() {

          $('#btn_search').on('click', function(){
                var searchOption = getSearchOption();
                searchOption += "&page_num=1";
                getList(searchOption);
          });

          $('#select_resp_code').on('change', function(){
                var searchOption = getSearchOption();
                searchOption += "&page_num=1";
                getList(searchOption);
          });

          $('#select_car_city').on('change', function(){
                var searchOption = getSearchOption();
                searchOption += "&page_num=1";
                getList(searchOption);
          });

          $('#select_master_brand').on('change', function(){
                var masterBrandID = $('#select_master_brand').val();
                if (masterBrandID > 0) {
                    getBrandList(masterBrandID);
                }
                var searchOption = getSearchOption();
                searchOption += "&page_num=1";
                getList(searchOption);
          });

          $('#select_brand').on('change', function(){
                var searchOption = getSearchOption();
                searchOption += "&page_num=1";
                getList(searchOption);
          });

          $('.am-pagination-first').on('click', function(){
                var searchOption = getSearchOption();
                var pageNum = 1;
                searchOption += "&page_num=" + pageNum;
                getList(searchOption);
                $('.am-pagination-next').show();
          });

          $('.am-pagination-prev').on('click', function(){
                var searchOption = getSearchOption();
                var pageNum = $("#page_num_tag").text();
                if (pageNum <= 1) {
                    pageNum = 1;
                } else {
                    pageNum--;
                }
                searchOption += "&page_num=" + pageNum;
                var dataCount = getList(searchOption);

                if (dataCount > 0) {
                    // $('.am-pagination-next').hide();
                    $('.am-pagination-next').show();
                }
          });

          $('.am-pagination-next').on('click', function(){
                var searchOption = getSearchOption();
                var pageNum = $("#page_num_tag").text();
                pageNum++;
                searchOption += "&page_num=" + pageNum;
                var dataCount = getList(searchOption);

                if (dataCount == 0) {
                    $('.am-pagination-next').hide();
                }
          });

          $('.am-pagination-last').on('click', function(){
                var searchOption = getSearchOption();
                searchOption += "&page_num=-1";
                getList(searchOption);
                $('.am-pagination-next').hide();
          });

    });
    
    function refresh(){
        window.location.reload();//刷新当前页面.
        // 或者下方刷新方法
        // parent.location.reload()刷新父亲对象（用于框架）--需在iframe框架内使用
        // opener.location.reload()刷新父窗口对象（用于单开窗口
        // top.location.reload()刷新最顶端对象（用于多开窗口）
    }
  </script>