      <script language="JavaScript">
            <!--
            $(function(){
                $('#frm_requester').ajaxForm({
                    beforeSend: clearResult,
                    beforeSubmit:  checkForm,  // pre-submit callback
                    success:       complete,  // post-submit callback
                    dataType: 'json'
                });
                function checkForm(){
                    if( '' == $.trim($('#api_url').val())){
                        $('#error_msg').html('标题不能为空').show();
                        return false;
                    }

                    if( '' == $.trim($('input[name=request_type]').val())){
                        $('#error_msg').html('  请选择请求方式').show();
                        return false;
                    }
                    //可以在此添加其它判断
                }

                function clearResult(){
                    $("#response_result").val('处理中...');
                }

                function complete(data){
                    $("#response_result").val('');
                    var ar = JSON.stringify(data, null, 4);    // 缩进4个空格
                    $("#response_result").val(ar);
                    // if (data.status==1){
                    //     $('#result').html(data.info).show();
                    //     // 更新列表
                    //     data = data.data;
                    //     var html =  '<div class="result" style=\'font-weight:normal;background:#A6FF4D\'><div style="border-bottom:1px dotted silver">标题：'+data.title+'  [ '+data.create_time+' ]</div><div class="content">内容：'+data.content+'</div></div>';
                    //     $('#list').prepend(html);
                    // }else{
                    //     $('#result').html(data.info).show();
                    // }
                }

            });
            function checkTitle(){
                $.post('__URL__/checkTitle',{'title':$('#title').val()},function(data){
                    $('#result').html(data.info).show();
                },'json');
            } 
            //-->
    </script>

      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf">
            <strong class="am-text-primary am-text-lg">系统模块</strong> / <small>接口调试</small>
        </div>
      </div>
      <hr>
      <div class="am-g">
        <div class="am-u-md-6">
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">请求接口<span class="am-icon-chevron-down am-fr" ></span></div>
            <div class="am-panel-bd am-collapse am-in" id="collapse-panel-1">
                <form class="am-form" id="frm_requester" name="frm_requester" method='post' action="__URL__/request">
                <div class="am-tab-panel " id="tab3">

                    <!-- div class="am-g am-margin-top">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">选择接口:</div>
                      <div class="am-u-sm-8 am-u-md-10">
                        <select data-am-selected="{btnSize: 'sm'}" id="api_number" name="api_number">
                          <option value="1">短信发送服务</option>
                          <option value="2">短信验证码校验服务</option>
                        </select>
                      </div>
                    </div -->

                    <div class="am-g am-margin-top-sm">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        接口地址:
                      </div>
                      <div class="am-u-sm-8 am-u-end">
                        <input type="text" class="am-input-sm" id="api_url" name="api_url" value="http://antnest.clcw.com.cn/">
                      </div>
                    </div>

                    <div class="am-g am-margin-top-sm">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        app_key:
                      </div>
                      <div class="am-u-sm-4 am-u-end">
                        <input type="text" class="am-input-sm" id="app_key" name="app_key" value="AK2016.API.1001" placeholder="HEADER参数">
                      </div>
                    </div>

<!--                     <div class="am-g am-margin-top-sm">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        client_id:
                      </div>
                      <div class="am-u-sm-4 am-u-end">
                        <input type="text" class="am-input-sm" id="client_id" name="client_id" placeholder="HEADER参数">
                      </div>
                    </div> -->

                    <div class="am-g am-margin-top-sm">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        secret_key:
                      </div>
                      <div class="am-u-sm-4 am-u-end">
                        <input type="text" class="am-input-sm" id="secret_key" name="secret_key" value="ax1001erttt643ee" placeholder="HEADER参数">
                      </div>
                    </div>

                    <div class="am-g am-margin-top-sm">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        请求内容类型:
                      </div>
                      <div class="am-u-sm-8 am-u-end">
                        <input type="text" id="content_type" name="content_type" class="am-input-sm" value="application/x-www-form-urlencoded" readonly="readonly">
                      </div>
                    </div>

                    <div class="am-g am-margin-top">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">请求方式:</div>
                      <div class="am-u-sm-8 am-u-md-10">
                        <div class="am-btn-group" data-am-button>
                          <label class="am-btn am-btn-default am-btn-xs">
                            <input type="radio" name="request_type" value="GET"> GET
                          </label>
                          <label class="am-btn am-btn-default am-btn-xs">
                            <input type="radio" name="request_type" value="POST"> POST
                          </label>
                          <!-- label class="am-btn am-btn-default am-btn-xs">
                            <input type="radio" name="request_type" value="PUT"> PUT
                          </label -->
                        </div>
                      </div>
                    </div>

                    <div class="am-g am-margin-top-sm">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        接口入参:
                      </div>
                      <div class="am-u-sm-8 am-u-end">
                        <textarea id="request_params" name="request_params" rows="10" placeholder="Json格式"></textarea><span></span>
                      </div>
                    </div>                  
                </div>

                <div class="am-margin">
                  <small class="am-form-error"><label  id="error_msg"></label></small>                  
                </div>

                <div class="am-margin">
                  <input type="hidden" name="ajax" value="1">
                  <input type="submit"  class="am-btn am-btn-primary am-btn-xs" value="提 交">
                  <input type="reset" class="am-btn am-btn-primary am-btn-xs" value="清 空">
                </div>
              </form>
            </div>
          </div>
          <!-- div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">HTTP通讯<span class="am-icon-chevron-down am-fr" ></span></div>
            <div id="collapse-panel-2" class="am-in">
              <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
                <tbody>
                <tr>
                  <th>Response</th>
                  <th>Date</th>
                  <th>Size</th>
                  <th>Time</th>
                </tr>
                <tr>
                  <td>200</td>
                  <td>2016-07-20 09:30:10</td>
                  <td>1000 B</td>
                  <td>200 ms</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div -->
        </div>

        <div class="am-u-md-6">
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-3'}">响应结果<span class="am-icon-chevron-down am-fr" ></span></div>
            <div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-3">
                <div class="am-tab-panel " id="tab3">
                  <form class="am-form">

                    <div class="am-g am-margin-top-sm">
                      <div class="am-u-sm-4 am-u-md-2 am-text-right">
                        响应结果:
                      </div>
                      <div class="am-u-sm-9 am-u-end">
                        <textarea id="response_result" rows="27"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>


