<!DOCTYPE html>
<html lang="zh-cn" class="no-js fixed-layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>蚁巢服务管理平台</title>
        <meta name="description" content="">
        <meta name="keywords" content="admin">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="__PUBLIC__/Images/favicon.png">
        <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/images/app-icon72x72@2x.png">
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <link rel="stylesheet" href="__PUBLIC__/Css/amazeui.css"/>
        <link rel="stylesheet" href="__PUBLIC__/Css/admin.css">

        <!--[if lt IE 9]>
        <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
        <script src="assets/js/amazeui.ie8polyfill.min.js"></script>
        <![endif]-->

        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="__PUBLIC__/Js/jquery.min.js"></script>
        <!-- script src="http://cdn.bootcss.com/jquery/1.7.1/jquery.min.js"></script -->

        <!--<![endif]-->
        <script src="__PUBLIC__/Js/amazeui.js"></script>
        <script src="__PUBLIC__/Js/app.js"></script>
        <!-- script type='text/javascript' src="__PUBLIC__/Js/jquery.form.js"></script -->
        <script type='text/javascript' src="__PUBLIC__/Js/jquery_form.js"></script>

    </head>
    <body>
