    <div class="am-offcanvas-bar admin-offcanvas-bar">

      <ul class="am-list admin-sidebar-list">
        <li><a href="{:U('admin/main')}"><span class="am-icon-home"></span> 首页</a></li>


        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-nav1'}"><span class="am-cf"></span> 系统模块<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-nav1">
            <li><a href="{:U('admin/debuger/sms')}"><span class="am-cf"></span> 接口调试</a></li>
            <li><a href="{:U('admin/fdebuger/sms')}"><span class="am-cf"></span> 接口调试(文件传输)</a></li>
          </ul>
        </li>

        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-nav2'}"><span class="am-cf"></span> SMS短信服务<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-nav2">
            <!-- <li><a href="{:U('admin/debuger/sms')}"><span class="am-icon-bug"></span> 接口调试</a></li> -->
            <li><a href="{:U('admin/log/monitor')}"><span class="am-cf"></span> 服务监控</a></li>
            <!-- <li><a href=""><span class="am-cf"></span> 访问日志</a></li> -->
            <li><a href="{:U('admin/log/taskservice')}"><span class="am-cf"></span> 任务服务日志</a></li>
          </ul>
        </li>

        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-nav2'}"><span class="am-cf"></span> 来拍车订阅<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-nav2">
            <!-- <li><a href="{:U('admin/debuger/sms')}"><span class="am-icon-bug"></span> 接口调试</a></li> -->
            <li><a href="{:U('admin/auction/monitor')}"><span class="am-cf"></span> 车商订阅服务监控</a></li>
            <!-- <li><a href=""><span class="am-cf"></span> 访问日志</a></li> -->
            <li><a href="{:U('admin/auction/taskservice')}"><span class="am-cf"></span> 任务服务日志</a></li>
          </ul>
        </li>

        <!-- li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav-nav3'}"><span class="am-cf"></span> 用户中心服务<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-nav3">
            <li><a href="admin-log.html"><span class="am-cf"></span> 访问日志</a></li>
          </ul>
        </li -->
        
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p></p>
        </div>
      </div>

    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">